* {
    font-family: 'Roboto';
}

body {
    background-color: #1f2937;
    max-width: 1064px;
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 0 20px; /* Adiciona um pouco de espaço nas laterais */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}
      
.header {
    background-color: #1f2937;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.header > h1 {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
}

li {
    margin-left: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.announcement {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 150px;
}

.title {
    display: flex;
    flex-direction: column;
    width: 532px;
    height: 200px;
}

.title > h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.title > p {
    text-align: justify;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.title > button {
    width: 120px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.image-placeholder {
    background-color: #7e8a9c;
    display: flex;
    width: 532px;
    height: 200px;
    justify-content: center;
}

.image-placeholder > .placeholder {
    display: flex;
    align-items: center;
    
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title-container {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 34px;
    color: #1f2937;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.card > div {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.card > p {
    text-align: center;
    margin-bottom: 100px;
}

.quote {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote > p {
    width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: justify;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.quote > .autor {
    margin: 0;
    padding: 0;
}

.quote p > span {
    font-weight: bold;
    color: #141a24;
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
}
.calltoaction {
    background-color: white;
    display: flex;
    justify-content: center;
}

.calltoaction > .blue {
    width: 80%;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.blue > .title-blue {
    padding: 30px;
    height: auto;
}

.title-blue > h3 {
    font-size: 22px;
    color: white;
    margin: 0;
}

.title-blue > p {
    font-size: 18px;
    color: #dadce0;
    margin: 0;
}
 
.signup {
    width: 120px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.footer > p {
    color: #e5e7eb;
    text-align: center;
    margin: 30px;
}




